<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>available pets</title>
    </head>
    <body>
        {% for soso in pet %}
            <a href="{% url 'pet-detail' soso.id %}">
                <ul>
                    <li> Pet Name: {{soso.name}}</li>
                    <li>
                        {% if soso.image %}
                          <img src="{{ soso.image.url }}">
                        {% endif %}
                    </li>
                </ul>
            </a>
            <a href="{% url 'pet-delete' soso.id %}"><button>Delete</button></a>
        {% endfor %}

    </body>
</html>
